#cat-sumery {
  text-decoration: none;
  color: white;
}

#category-header {
  border: 1px solid gray;
  background-color: darkseagreen;
  border-radius: 30px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 6px;
}
